#img1 {margin-left: 25%;
    width: 50%;
    }
    #img2 {margin-left: 25%;
        width: 50%;
        }
    footer {margin-right: 0%;
       background-color: rgb(201, 11, 160);
    }
    
    .h1 {
        font-family: "crimson text", serif;
        font-weight: 400;
        font-style: italic;
    }